# Homework 2

In this homework you will be working with json data and TinyDB. The overall task is to query the Citibikes NYC server ( https://gbfs.citibikenyc.com/gbfs/en/station_status.json ), store the data in a TinyDB database, and infer activities for the stations. Sample starter code relating to these subtasks was discussed in class.


You will be required to query the server at 3 different times of a day (preferably a weekday). Make sure that these times are spread apart by at least a couple of hours. 3 good times may be morning, afternoon, evening. 

You may query the data, save the results in 3 JSON files on your laptop, load the JSON files, and then insert them into the database. This approach may be easier rather than querying the data live each time you test the code. IMPORTANT: You need to insert one record (for each station) at a time into the database. Do not upload the entire JSON file into the database even if the database allows you to do this. 


Rename this file as <i>YourfirstinitialLastname.ipynb</i> and insert your code in the appropriate parts. For example, John Doe would name his solution file as <i>JDoe.ipynb</i> . 

Your database file should be named <i>citibikenyc-YourfirstinitialLastname.json</i> . John Doe's database file would be named <i>citibikenyc-JDoe.json</i> . 

Your submission should consist of both the ipynb file and the json file. 

<b>IMPORTANT</b> (1) Make sure that your code is organized, documented, and contains only what is being asked for in the question. (2) This homework requires you to run the code at three different times of a day (preferably a weekday), so make sure that you start the homework early.

## Part I (20 points)
Query the Citibikes server and load the JSON data for the stations into a Python list.

The JSON data containing information for each station as shown below. Note the field names. The id of the station is stored in a <b>string</b> field named <b>station_id</b>. The legacy id of the station is stored in a <b>string</b> field named <b>legacy_id</b>.

{'num_scooters_unavailable': 0,
 'last_reported': 1614989202,
 'num_docks_disabled': 0,
 'station_status': 'active',
 'is_returning': 1,
 'num_bikes_disabled': 1,
 'num_ebikes_available': 0,
 'is_renting': 1,
 'legacy_id': '3340',
 'station_id': '66de11bc-0aca-11e7-82f6-3863bb44ef7c',
 'num_docks_available': 1,
 'num_scooters_available': 0,
 'is_installed': 1,
 'eightd_has_available_keys': False,
 'num_bikes_available': 19}

Load the data for the stations into a Pandas DataFrame and display the first 10 rows.

In [1]:
import pandas as pd
import requests
import json

#Query the Citibikes server and load the JSON data for the stations into a Python list.

response = requests.get("https://gbfs.citibikenyc.com/gbfs/en/station_status.json")

stations1 = json.loads(response.content.decode('utf-8'))['data']['stations']

#Read at 11:11 AM
with open("stations1.json", "w") as write_file:
    json.dump(stations1, write_file)

stations2 = json.loads(response.content.decode('utf-8'))['data']['stations']

#Read at 3:13PM
with open("stations2.json", "w") as write_file:
    json.dump(stations2, write_file)

stations3 = json.loads(response.content.decode('utf-8'))['data']['stations']

#Read at 7:39PM
with open("stations3.json", "w") as write_file:
    json.dump(stations3, write_file)

In [2]:
#Load the data for the stations into a Pandas DataFrame and display the first 10 rows.
with open('stations1.json', 'r') as f:
    data = json.load(f)

In [3]:
stations_df = pd.DataFrame(data)

In [4]:
stations_df.head(10)

,eightd_has_available_keys,is_renting,num_bikes_available,is_returning,station_status,station_id,is_installed,num_scooters_unavailable,num_scooters_available,num_docks_available,num_docks_disabled,num_ebikes_available,last_reported,num_bikes_disabled,legacy_id,eightd_active_station_services,valet
0,False,1,24,1,active,66de5005-0aca-11e7-82f6-3863bb44ef7c,1,0.0,0.0,3,0,0,1678291151,0,3404,NaN,NaN
1,False,1,5,1,active,a2ef8ed2-6031-4049-b7dc-9838ef39889b,1,0.0,0.0,13,0,0,1678291152,1,4202,NaN,NaN
2,False,1,0,1,active,66de17f7-0aca-11e7-82f6-3863bb44ef7c,1,0.0,0.0,38,0,0,1678291145,1,3350,NaN,NaN
3,False,1,3,1,active,e9575102-1081-4c30-8d15-ea95913579e2,1,0.0,0.0,18,0,0,1678291152,0,e9575102-1081-4c30-8d15-ea95913579e2,NaN,NaN
4,False,1,2,1,active,66de0861-0aca-11e7-82f6-3863bb44ef7c,1,0.0,0.0,28,0,1,1678291159,1,3325,NaN,NaN
5,False,1,1,1,active,595cf79f-7783-4373-b3d5-775bcf76033b,1,0.0,0.0,16,0,0,1678291157,2,4127,NaN,NaN
6,False,1,21,1,active,3f05490b-a3d8-4d15-bd25-0212555b5dff,1,0.0,0.0,2,0,0,1678291160,0,4358,NaN,NaN
7,False,1,0,1,active,66dbc37a-0aca-11e7-82f6-3863bb44ef7c,1,0.0,0.0,55,0,0,1678291190,4,349,NaN,NaN
8,False,1,2,1,active,0ddb965d-95ef-4ce3-bde6-81a56ac1fbd2,1,0.0,0.0,17,12,0,1678291190,0,3959,NaN,NaN
9,False,1,0,1,active,cbf76774-1276-4cf8-9442-f00571f1451c,1,0.0,0.0,32,0,0,1678291197,1,4225,NaN,NaN

## Part II (20 points)

Save your data into a TinyDB database with the following modifications: 

<i>num_bikes_available</i> and <i>last_reported</i> should both be lists of their singleton values. For example, the earlier record would look like the following in the database: 

{'num_scooters_unavailable': 0,
 <b>'last_reported': [1614989202]</b>,
 'num_docks_disabled': 0,
 'station_status': 'active',
 'is_returning': 1,
 'num_bikes_disabled': 1,
 'num_ebikes_available': 0,
 'is_renting': 1,
 'legacy_id': '3340',
 'station_id': '66de11bc-0aca-11e7-82f6-3863bb44ef7c',
 'num_docks_available': 1,
 'num_scooters_available': 0,
 'is_installed': 1,
 'eightd_has_available_keys': False,
 <b>'num_bikes_available': [19]</b>}

(The last_reported field is in Epoch time, a common way of expressing timestamps in datastores. Try to understand what this time means through an internet search.) 

Query your database for two different station ids and show the results of your query. The results should look similar to the record above.

In [5]:
from tinydb import TinyDB, Query, table

In [6]:
#Save your data into a TinyDB database with the following modifications:
#num_bikes_available and last_reported should both be lists of their singleton values.

#Creating the DB
db = TinyDB('Station.json')

In [7]:
#Converting the singleton values to a list.
for station in data:
    station['num_bikes_available'] = [station['num_bikes_available']]
    station['last_reported'] = [station['last_reported']]

In [11]:
#Inserting the data into the DB.
for st in data:
    db.insert(st)

In [12]:
#Query your database for two different station ids and show the results of your query.

q = Query()
result = db.search(q.legacy_id.one_of(['349','3404']))
print(result)

[{'eightd_has_available_keys': False, 'is_renting': 1, 'num_bikes_available': [24], 'is_returning': 1, 'station_status': 'active', 'station_id': '66de5005-0aca-11e7-82f6-3863bb44ef7c', 'is_installed': 1, 'num_scooters_unavailable': 0, 'num_scooters_available': 0, 'num_docks_available': 3, 'num_docks_disabled': 0, 'num_ebikes_available': 0, 'last_reported': [1678291151], 'num_bikes_disabled': 0, 'legacy_id': '3404'}, {'eightd_has_available_keys': False, 'is_renting': 1, 'num_bikes_available': [0], 'is_returning': 1, 'station_status': 'active', 'station_id': '66dbc37a-0aca-11e7-82f6-3863bb44ef7c', 'is_installed': 1, 'num_scooters_unavailable': 0, 'num_scooters_available': 0, 'num_docks_available': 55, 'num_docks_disabled': 0, 'num_ebikes_available': 0, 'last_reported': [1678291190], 'num_bikes_disabled': 4, 'legacy_id': '349'}]

## Part III (20 points)

Query the server at least two additional times on the same day as Part I to collect two additional datasets. Make sure that these times are spread apart by at least a couple of hours. You could, for example, query in the morning for Part I and in the afternoon and evening for this part. 

(You may query for all the data on a single day, save the results in 3 JSON files and load the JSON files as JSON Objects and then insert them into the database. This approach may be easier rather than querying the data live each time you test the code.)

Merge the collected data for the fields <i>num_bikes_available</i> and <i>last_reported</i> for each station into the database by appending to the appropriate lists in the database. Note that this operation may take a while to complete. 

IMPORTANT: Define a function that you will invoke twice to add the 2 sets of data.

The data for a station may look like the following after the merge:

{'num_scooters_unavailable': 0,
 'last_reported': <b>'last_reported': [1614989202, 1614990202, 1614991805]</b>,
 'num_docks_disabled': 0,
 'station_status': 'active',
 'is_returning': 1,
 'num_bikes_disabled': 1,
 'num_ebikes_available': 0,
 'is_renting': 1,
 'legacy_id': '3340',
 'station_id': '66de11bc-0aca-11e7-82f6-3863bb44ef7c',
 'num_docks_available': 1,
 'num_scooters_available': 0,
 'is_installed': 1,
 'eightd_has_available_keys': False,
 <b>'num_bikes_available': [19, 16, 20]</b>}


Note: It is possible, but not highly likely, that a station may be added or deleted between different queries. You may get some errors if this happens. It is good to guard against this event. 

Query your database for the same station ids as in Part II and show the results.

In [13]:
#Opening the Afternoon Data
with open('stations2.json', 'r') as f:
    data1 = json.load(f)
#Opening the Evening Data
with open('stations3.json', 'r') as f:
    data2 = json.load(f)

In [14]:
#Converting the singleton values to list in afternoon data
for station in data1:
    station['num_bikes_available'] = [station['num_bikes_available']]
    station['last_reported'] = [station['last_reported']]

In [15]:
#Converting the singleton values to list in evening data
for station in data2:
    station['num_bikes_available'] = [station['num_bikes_available']]
    station['last_reported'] = [station['last_reported']]

In [16]:
#Merge the collected data for the fields num_bikes_available and last_reported for each station into the database 
#by appending to the appropriate lists in the database. Note that this operation may take a while to complete.
#IMPORTANT: Define a function that you will invoke twice to add the 2 sets of data.


def datainsert(data):
        for station in data:
            result = db.search(q.legacy_id == station.get('legacy_id'))
        
            if len(result) == 0 :
                db.insert(station) #Inserting the station if there exists no station with same legacy_id previously in the DB.
            else:
                existing_station = result[0]
                existing_bikes_values = existing_station.get('num_bikes_available')#Extracting the existing values in the DB.
                new_bikes_values = station.get('num_bikes_available') #Extracting the new values from the new JSON
                existing_bikes_values.extend(new_bikes_values)#Appending it to the existing values in DB.
                existing_reported_values = existing_station.get('last_reported') #Similar to above
                new_reported_values = station.get('last_reported')
                existing_reported_values.extend(new_reported_values)
                #Updating the existing list with new appended lists.
                db.upsert({'num_bikes_available':existing_bikes_values,'last_reported':existing_reported_values},q.legacy_id==existing_station.get('legacy_id'))

In [17]:
datainsert(data1)#Calling the function with afternoon data

In [18]:
datainsert(data2)#Calling the function with evening data

In [19]:
#Query your database for the same station ids as in Part II and show the results.

print(db.search(q.legacy_id.one_of(['349','3404'])))

[{'eightd_has_available_keys': False, 'is_renting': 1, 'num_bikes_available': [24, 26, 27], 'is_returning': 1, 'station_status': 'active', 'station_id': '66de5005-0aca-11e7-82f6-3863bb44ef7c', 'is_installed': 1, 'num_scooters_unavailable': 0, 'num_scooters_available': 0, 'num_docks_available': 3, 'num_docks_disabled': 0, 'num_ebikes_available': 0, 'last_reported': [1678291151, 1678306403, 1678322252], 'num_bikes_disabled': 0, 'legacy_id': '3404'}, {'eightd_has_available_keys': False, 'is_renting': 1, 'num_bikes_available': [0, 9, 13], 'is_returning': 1, 'station_status': 'active', 'station_id': '66dbc37a-0aca-11e7-82f6-3863bb44ef7c', 'is_installed': 1, 'num_scooters_unavailable': 0, 'num_scooters_available': 0, 'num_docks_available': 55, 'num_docks_disabled': 0, 'num_ebikes_available': 0, 'last_reported': [1678291190, 1678306375, 1678322335], 'num_bikes_disabled': 4, 'legacy_id': '349'}]

## Part IV (20 points)

Insert an additional field named <i>activity</i> into the record for each station in the database. The value for this field should capture the absolute difference between the number of available bikes for each successive pair of queries to the citibikenyc server. For example, the record for station with legacy_id 3340 would look like the following: 

{'num_scooters_unavailable': 0,
 'last_reported': <b>'last_reported': [1614989202, 1614990202, 1614991805]</b>,
 'num_docks_disabled': 0,
 'station_status': 'active',
 'is_returning': 1,
 'num_bikes_disabled': 1,
 'num_ebikes_available': 0,
 'is_renting': 1,
 'legacy_id': '3340',
 'station_id': '66de11bc-0aca-11e7-82f6-3863bb44ef7c',
 'num_docks_available': 1,
 'num_scooters_available': 0,
 'is_installed': 1,
 'eightd_has_available_keys': False,
 <b>'num_bikes_available': [19, 16, 20]</b>, <b>'activity': [3, 4]</b>}
 

Note: The activity field is capturing the number of bikes rented out/returned in the two time intervals between the three queries to the citibikenyc server. 


Query your database for the same station ids as in Part III and IV and show the results.

In [20]:
temp_data = db.all()

In [21]:
#Insert an additional field named activity into the record for each station in the database. 
#The value for this field should capture the absolute difference between the number of available bikes 
#for each successive pair of queries to the citibikenyc server.

for station in temp_data:
    value1 = abs(station.get('num_bikes_available')[0] - station.get('num_bikes_available')[1]) #Getting the absolute difference of number of available bikes
    value2 = abs(station.get('num_bikes_available')[1] - station.get('num_bikes_available')[2])
    station['activity'] = [value1,value2] #Adding the key-value pair activity along with list as value to the station JSON object.
    db.update(station,q.legacy_id == station.get('legacy_id')) #Updating each station with new record called activity

In [22]:
#Query your database for the same station ids as in Part III and IV and show the results.

print(db.search(q.legacy_id.one_of(['349','3404'])))

[{'eightd_has_available_keys': False, 'is_renting': 1, 'num_bikes_available': [24, 26, 27], 'is_returning': 1, 'station_status': 'active', 'station_id': '66de5005-0aca-11e7-82f6-3863bb44ef7c', 'is_installed': 1, 'num_scooters_unavailable': 0, 'num_scooters_available': 0, 'num_docks_available': 3, 'num_docks_disabled': 0, 'num_ebikes_available': 0, 'last_reported': [1678291151, 1678306403, 1678322252], 'num_bikes_disabled': 0, 'legacy_id': '3404', 'activity': [2, 1]}, {'eightd_has_available_keys': False, 'is_renting': 1, 'num_bikes_available': [0, 9, 13], 'is_returning': 1, 'station_status': 'active', 'station_id': '66dbc37a-0aca-11e7-82f6-3863bb44ef7c', 'is_installed': 1, 'num_scooters_unavailable': 0, 'num_scooters_available': 0, 'num_docks_available': 55, 'num_docks_disabled': 0, 'num_ebikes_available': 0, 'last_reported': [1678291190, 1678306375, 1678322335], 'num_bikes_disabled': 4, 'legacy_id': '349', 'activity': [9, 4]}]

## Part V (20 points)Â¶

Query your database to compute the number of stations with high activity (>=20) and low activity (<=5) in each of the two time intervals. Display your results. They may look like the following (the actual numbers may differ):

High Activity Stations [10, 29]

Low Activity Stations [205, 308]

There will be 4 counts in total. A station with activity [25, 3] will contribute towards the count for High Activity Stations in the first interval and contribute towards the count for the Low Activity Stations in the second interval. Note that general form of the matrix for the result is as follows:

High Activity Stations [x1, x2]

Low Activity Stations [y1, y2]

x1 and y1 are the counts for the first interval and x2 and y2 are the counts for the second interval. 

The station in the example above (activity [25,3]) will contribute to the value of x1 and y2. 

 If there are just two stations with activity [25,3] and [30, 25], the results would be

          High Activity Stations [2, 1]
          Low Activity Stations [0, 1]

In [23]:
#Query your database to compute the number of stations with high activity (>=20) and low activity (<=5) 
#in each of the two time intervals.

high_1=0
high_2=0
low_1=0
low_2=0
for station in temp_data:
    activity1 = station.get('activity')[0]
    if(activity1 >= 20):
        high_1+=1
    elif activity1 <= 5:
        low_1+=1
    activity2 = station.get('activity')[1]
    if activity2 >= 20:
        high_2+=1
    elif activity2 <= 5:
        low_2+=1       
High_Activity_Stations = [high_1,high_2]
Low_Activity_Stations=[low_1,low_2]

print(High_Activity_Stations)
print(Low_Activity_Stations)

[5, 90]
[1714, 1453]